{% extends 'main/base.html' %}
{% block title %} myblogs-add-post {% endblock %}
{% block content %} 

<!--Create post-->

    <div class='container'>
        <h1 class="text-center">Create Post</h1>
        <div class="create_post_block">
            <form action='' method='post' enctype='multipart/form-data' class=''>
                {% csrf_token %}
                {{ form.title }}
                {{ form.description }}
                {{ form.image }}
                <span>{{ error }}</span>
                <button type='submit' class='btn'>Create <i class='fa-solid fa-plus'></i></button>
            </form>
        </div>
    </div>
{% endblock %}