{% extends "main/base.html" %}
{% block title %} myblogs-register {% endblock %}
{% block content %} 
{% load crispy_forms_tags %}

<!--Register-->

<div class='log_reg_container'>
	<div class='log_reg_block'>
		<div class='container my-lg-5 my-3 login_block'>
			<h1 class='log_reg_title'>Register</h1>
			<form method='POST'>
				{% csrf_token %}
				{{ register_form|crispy }}                    
				<button class='btn  mt-3' id="register_button" onclick="password_validation()" type='submit'>Register <i class='fa-solid fa-arrow-right-to-bracket'></i></button>
			</form>
			<p class='text-center mt-5'>If you already have an account, <a href='/login'>login</a> instead.</p>
		</div>
	</div>
</div>

<script>
	var error_message = document.getElementById('hint_id_password2');
	error_message.style.display = "none";

	function password_validation(){
		var password1 = document.getElementById('id_password1');
		var password2 = document.getElementById('id_password2');
		var reg_button = document.getElementById('register_button');

		if(password1.value != password2.value){
			reg_button.type = 'button';
			error_message.style.display = "block";

		}else{
			reg_button.type = 'submit'
			error_message.style.display = "none";
		}
	}
</script>
{% endblock %}